body {
    overflow: hidden; /* Hide scrollbars */
  }


.butt1{
    width: 71.10px; height: 21.88px; 
    padding: 7.81px; 
    left: 107.83px; 
    top: 170.36px; 
    position: absolute; 
    background: #1B3277; 
    border-radius: 8.59px; 
    justify-content: center; 
    align-items: center; 
    gap: 7.81px; 
    display: inline-flex;
    color: white; 
    font-size: 11.72px; 
    font-family: Poppins; 
    font-weight: 600;
    line-height: 20.31px; 
    word-wrap: break-word;
    padding: 17px 40px;
    border-color: #C6C6FF ;

}

.butt1:hover{
    background: #C6C6FF;
    color: #1B3277;
}

.butt2{
    width: 71.10px; 
    height: 21.88px; 
    padding: 7.81px; 
    left: 474.28px; 
    top: 170.36px; 
    position: absolute; 
    background: #1B3277; 
    border-radius: 8.59px; 
    justify-content: center; 
    align-items: center; 
    gap: 7.81px; 
    display: inline-flex;
    color: white; 
    font-size: 11.72px; 
    font-family: Poppins; 
    font-weight: 600; 
    line-height: 20.31px; 
    word-wrap: break-word;
    padding: 17px 40px;
    
            
}

.butt2:hover{
    background: #FB5980;
    color: #1B3277;
    border-color: #FB5980;
}


.butt3{
    width: 71.10px; 
    height: 21.88px; 
    padding: 7.81px; 
    left: 840.73px; 
    top: 170.85px; 
    position: absolute; 
    background: #1B3277; 
    border-radius: 8.59px; 
    justify-content: center; 
    align-items: center; 
    gap: 7.81px; 
    display: inline-flex;
    color: white; 
    font-size: 11.72px; 
    font-family: Poppins; 
    font-weight: 600; 
    line-height: 20.31px; 
    word-wrap: break-word;
    padding: 17px 40px;
}

.butt3:hover{
    background: #81F477;
    color: #1B3277;
    border-color: #81F477;
}


.butt4{
    width: 71.10px; height: 21.88px; padding: 7.81px; left: 251.59px; top: 451.79px; position: absolute; background: #1B3277; border-radius: 8.59px; justify-content: center; align-items: center; gap: 7.81px; display: inline-flex;
    color: white; font-size: 11.72px; font-family: Poppins; font-weight: 600; line-height: 20.31px; word-wrap: break-word;padding: 17px 40px;
    
}

.butt4:hover{
    background: #F4A964;
    color: #1B3277;
    border-color: #F4A964;
}

.butt5{
    width: 71.10px; height: 21.88px; padding: 7.81px; left: 659.46px; top: 451.64px; position: absolute; background: #1B3277; border-radius: 8.59px; justify-content: center; align-items: center; gap: 7.81px; display: inline-flex;
    color: white; font-size: 11.72px; font-family: Poppins; font-weight: 600; line-height: 20.31px; word-wrap: break-word;padding: 17px 40px;
}

.butt5:hover{
    background: #4BFFF4;
    color: #1B3277;
    border-color: #4BFFF4;
}


.animated-element {
    opacity: 0;
    animation: fadeInScaleAndTranslate 1s ease-in-out forwards;
}

/* Keyframes for extraordinary animation */
@keyframes fadeInScaleAndTranslate {
    from {
        opacity: 0;
        transform: scale(0) translate(0, -20px);
    }
    to {
        opacity: 1;
        transform: scale(1) translate(0, 0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Apply the animation to each element with the "fade-in" class */
.fade-in {
    animation: fadeIn 1s ease-in-out;
}





